In [70]:
import pandas as pd
df = pd.read_csv("C:\\Users\\HP\\Downloads\\ElectricCarData_Clean.csv")

In [71]:
df.head(100)

,Brand,Model,AccelSec,TopSpeed_KmH,Range_Km,Efficiency_WhKm,FastCharge_KmH,RapidCharge,PowerTrain,PlugType,BodyStyle,Segment,Seats,PriceEuro
0,Tesla,Model 3 Long Range Dual Motor,4.6,233,450,161,940,Yes,AWD,Type 2 CCS,Sedan,D,5,55480
1,Volkswagen,ID.3 Pure,10.0,160,270,167,250,Yes,RWD,Type 2 CCS,Hatchback,C,5,30000
2,Polestar,2,4.7,210,400,181,620,Yes,AWD,Type 2 CCS,Liftback,D,5,56440
3,BMW,iX3,6.8,180,360,206,560,Yes,RWD,Type 2 CCS,SUV,D,5,68040
4,Honda,e,9.5,145,170,168,190,Yes,RWD,Type 2 CCS,Hatchback,B,4,32997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Volkswagen,ID.3 Pro Performance,7.3,160,340,171,470,Yes,RWD,Type 2 CCS,Hatchback,C,5,35575
96,Kia,e-Soul 39 kWh,9.9,157,230,170,220,Yes,FWD,Type 2 CCS,SUV,B,5,33133
97,Byton,M-Byte 72 kWh 2WD,7.5,190,325,222,420,Yes,RWD,Type 2 CCS,SUV,E,5,53500
98,Nissan,Ariya 63kWh,7.5,160,330,191,440,Yes,FWD,Type 2 CCS,Hatchback,C,5,45000
99,Audi,e-tron S Sportback 55 quattro,4.5,210,335,258,540,Yes,AWD,Type 2 CCS,SUV,E,5,96050

In [72]:
df.columns

Index(['Brand', 'Model', 'AccelSec', 'TopSpeed_KmH', 'Range_Km',
       'Efficiency_WhKm', 'FastCharge_KmH', 'RapidCharge', 'PowerTrain',
       'PlugType', 'BodyStyle', 'Segment', 'Seats', 'PriceEuro'],
      dtype='object')

In [73]:
df.drop("Model",axis=1, inplace=True)
df.drop("Brand",axis=1, inplace=True)
df.drop("PowerTrain",axis=1, inplace=True)
df.drop("PlugType",axis=1, inplace=True)
df.drop("BodyStyle",axis=1, inplace=True)
df.drop("Segment",axis=1, inplace=True)
df.drop("RapidCharge",axis=1, inplace=True)
df.drop("FastCharge_KmH",axis=1, inplace=True)

In [74]:
from sklearn.model_selection import train_test_split
X,y = train_test_split(df, test_size=0.2, random_state=42)

In [75]:
X

     AccelSec  TopSpeed_KmH  Range_Km  Efficiency_WhKm  Seats  PriceEuro
53        8.8           160       420              183      5      40000
22       10.0           160       290              179      5      35000
68       22.4           130       160              194      5      38000
44       12.3           130       195              166      4      20129
98        7.5           160       330              191      5      45000
..        ...           ...       ...              ...    ...        ...
71        7.0           160       400              193      5      45000
14        9.7           165       250              153      5      34459
92        7.9           167       365              175      5      36837
51        2.1           410       970              206      4     215000
102       7.5           190       400              238      5      62000

[82 rows x 6 columns]

In [76]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor

param_grid = [
    {'n_estimators' : [3,10,30], 'max_features' : [2,3]},
    {'bootstrap' : [False],'n_estimators' : [3,10], 'max_features' : [2,3,4]},
]
forest_reg = RandomForestRegressor()
grid_search = GridSearchCV(forest_reg,param_grid,cv=5,return_train_score=True)

label = X["PriceEuro"]
X.drop("PriceEuro", axis=1, inplace = True)

In [77]:
grid_search.fit(X, label)

GridSearchCV(cv=5, estimator=RandomForestRegressor(),
             param_grid=[{'max_features': [2, 3], 'n_estimators': [3, 10, 30]},
                         {'bootstrap': [False], 'max_features': [2, 3, 4],
                          'n_estimators': [3, 10]}],
             return_train_score=True)

In [78]:
grid_search.best_params_

{'bootstrap': False, 'max_features': 2, 'n_estimators': 10}

In [79]:
grid_search.best_estimator_

RandomForestRegressor(bootstrap=False, max_features=2, n_estimators=10)

In [80]:
cvres = grid_search.cv_results_

In [81]:
import numpy as np
for mean_score, params in zip(cvres["mean_test_score"],cvres["params"]):
    print(np.sqrt(mean_score), params)

0.7190694361410473 {'max_features': 2, 'n_estimators': 3}
0.7904724142691378 {'max_features': 2, 'n_estimators': 10}
0.8083939830149627 {'max_features': 2, 'n_estimators': 30}
0.6988389157903201 {'max_features': 3, 'n_estimators': 3}
0.7932372651494916 {'max_features': 3, 'n_estimators': 10}
0.80266073220651 {'max_features': 3, 'n_estimators': 30}
0.8056124481811805 {'bootstrap': False, 'max_features': 2, 'n_estimators': 3}
0.8335421484092039 {'bootstrap': False, 'max_features': 2, 'n_estimators': 10}
0.733191552457677 {'bootstrap': False, 'max_features': 3, 'n_estimators': 3}
0.7888186946984288 {'bootstrap': False, 'max_features': 3, 'n_estimators': 10}
0.7612125209670525 {'bootstrap': False, 'max_features': 4, 'n_estimators': 3}
0.7460262879308125 {'bootstrap': False, 'max_features': 4, 'n_estimators': 10}

In [82]:
from sklearn.model_selection import RandomizedSearchCV
from sklearn.ensemble import RandomForestRegressor

param_grid = [
    {'n_estimators' : [3,10,30], 'max_features' : [2,3]},
    {'bootstrap' : [False],'n_estimators' : [3,10], 'max_features' : [2,3,4]},
]
forest_reg = RandomForestRegressor()
grid_search = RandomizedSearchCV(forest_reg,param_grid,cv=5,return_train_score=True)

In [83]:
grid_search.fit(X, label)

RandomizedSearchCV(cv=5, estimator=RandomForestRegressor(),
                   param_distributions=[{'max_features': [2, 3],
                                         'n_estimators': [3, 10, 30]},
                                        {'bootstrap': [False],
                                         'max_features': [2, 3, 4],
                                         'n_estimators': [3, 10]}],
                   return_train_score=True)

In [84]:
grid_search.best_params_

{'n_estimators': 10, 'max_features': 2, 'bootstrap': False}

In [85]:
grid_search.best_estimator_

RandomForestRegressor(bootstrap=False, max_features=2, n_estimators=10)

In [86]:
cvres = grid_search.cv_results_

In [87]:
import numpy as np
for mean_score, params in zip(cvres["mean_test_score"],cvres["params"]):
    print(np.sqrt(mean_score), params)

0.7632251841998724 {'n_estimators': 10, 'max_features': 4, 'bootstrap': False}
0.7935239252270713 {'n_estimators': 30, 'max_features': 3}
0.7670311360910465 {'n_estimators': 3, 'max_features': 2, 'bootstrap': False}
0.7600276005405088 {'n_estimators': 10, 'max_features': 3, 'bootstrap': False}
0.8172549124530506 {'n_estimators': 10, 'max_features': 2, 'bootstrap': False}
0.8063285149311085 {'n_estimators': 10, 'max_features': 3}
0.727251884417309 {'n_estimators': 3, 'max_features': 2}
0.7675484406704266 {'n_estimators': 3, 'max_features': 4, 'bootstrap': False}
0.7906012751334718 {'n_estimators': 10, 'max_features': 2}
0.7655467387350058 {'n_estimators': 3, 'max_features': 3, 'bootstrap': False}

In [88]:
final_model = grid_search.best_estimator_

label_test = y["PriceEuro"]
y.drop("PriceEuro", axis=1, inplace = True)

final_prediction = final_model.predict(y)

In [89]:
from sklearn.metrics import mean_squared_error
final_mse = mean_squared_error(final_prediction,label_test)
print("rmse : ",np.sqrt(final_mse))

rmse :  9775.073061302894