In [32]:
import pandas as pd
df_train = pd.read_csv("C:\\Users\\HP\\Downloads\\zoo3.csv")
df_test = pd.read_csv("C:\\Users\\HP\\Downloads\\zoo2.csv")

In [33]:
df_train

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,anta,1,0,0,1,0,0,0,1,1,1,0,0,4,0,0,0,1
1,ariranha,1,0,0,1,0,1,1,1,1,1,0,1,4,1,0,0,1
2,boto-cor-de-rosa,0,0,0,1,0,1,1,1,1,1,0,1,0,1,0,0,1
3,bugio,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,0,1
4,cachorro-vinagre,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,vespa,0,0,1,0,1,0,1,0,0,1,1,0,6,0,0,0,6
66,bicho-pau,0,0,1,0,0,0,0,0,0,1,0,0,6,0,0,0,7
67,caracol-da-mata-atlantica,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
68,caranguejeira,1,0,1,0,0,0,1,0,0,1,1,0,8,0,0,0,7
69,sauva-limao,1,0,1,0,0,0,1,0,0,1,1,0,6,0,0,0,7

In [34]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   animal_name  70 non-null     object
 1   hair         70 non-null     int64
 2   feathers     70 non-null     int64
 3   eggs         70 non-null     int64
 4   milk         70 non-null     int64
 5   airborne     70 non-null     int64
 6   aquatic      70 non-null     int64
 7   predator     70 non-null     int64
 8   toothed      70 non-null     int64
 9   backbone     70 non-null     int64
 10  breathes     70 non-null     int64
 11  venomous     70 non-null     int64
 12  fins         70 non-null     int64
 13  legs         70 non-null     int64
 14  tail         70 non-null     int64
 15  domestic     70 non-null     int64
 16  catsize      70 non-null     int64
 17  class_type   70 non-null     int64
dtypes: int64(17), object(1)
memory usage: 10.0+ KB

In [35]:
df_train.describe()

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
count,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000
mean,0.314286,0.285714,0.728571,0.271429,0.314286,0.328571,0.442857,0.485714,0.871429,0.900000,0.142857,0.157143,2.800000,0.700000,0.142857,0.314286,2.900000
std,0.467583,0.455016,0.447907,0.447907,0.467583,0.473085,0.500310,0.503405,0.337142,0.302166,0.352454,0.366563,1.967858,0.461566,0.352454,0.467583,1.850578
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,1.000000
50%,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,2.000000,1.000000,0.000000,0.000000,2.000000
75%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,4.000000,1.000000,0.000000,1.000000,4.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,8.000000,1.000000,1.000000,1.000000,7.000000

In [36]:
df_train["animal_name"].unique()

array(['anta', 'ariranha', 'boto-cor-de-rosa', 'bugio',
       'cachorro-vinagre', 'chimpanze', 'gato-maracaja', 'jaguatirica',
       'lobo-guara', 'macaco-aranha', 'macaco-barrigudo',
       'mico-leao-dourado', 'mono-carvoeiro', 'onca-pintada',
       'orangotango', 'peixe-boi', 'queixada', 'tamandua-bandeira',
       'urso-de-oculos', 'aguia-cinzenta', 'aracari-banana', 'arara-azul',
       'arara-caninde', 'chaua', 'ema', 'gaviao-pombo', 'guara', 'harpia',
       'jacurutu', 'jacutinga', 'jandaia-amarela', 'macuco', 'murucututu',
       'mutum', 'papagaio-de-cara-roxa', 'pato-de-crista', 'pavo',
       'tucano-de-bico-preto', 'urubu-rei', 'cobra-cipo', 'jabuti',
       'jacare-coroa', 'jararaca-ilhoa', 'jiboia', 'sucuri', 'tracaja',
       'urutu-cruzeiro', 'baiacu', 'cascudinho-de-caverna', 'lambari',
       'matrinxa', 'pirarucu', 'raia-chita', 'tambaqui', 'tubarao-raposa',
       'perereca-de-alcatrazes', 'ra-flecha-azul', 'ra-pimenta',
       'sapo-barriga-de-fogo', 'sapo-cururu', 'sapo-de-chifre', 'abelha',
       'joaninha', 'mariposa', 'pirilampo', 'vespa', 'bicho-pau',
       'caracol-da-mata-atlantica', 'caranguejeira', 'sauva-limao'],
      dtype=object)

In [37]:
df_train.drop("animal_name",axis=1,inplace=True)

In [38]:
df_train

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,1,0,0,1,0,0,0,1,1,1,0,0,4,0,0,0,1
1,1,0,0,1,0,1,1,1,1,1,0,1,4,1,0,0,1
2,0,0,0,1,0,1,1,1,1,1,0,1,0,1,0,0,1
3,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,0,1
4,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,0,0,1,0,1,0,1,0,0,1,1,0,6,0,0,0,6
66,0,0,1,0,0,0,0,0,0,1,0,0,6,0,0,0,7
67,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
68,1,0,1,0,0,0,1,0,0,1,1,0,8,0,0,0,7
69,1,0,1,0,0,0,1,0,0,1,1,0,6,0,0,0,7

In [39]:
df_test

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,turtle,0,0,1,0,0,1,0,0,1,1,0,0,4,1,1,1,3
1,chameleon,0,0,1,0,0,0,0,1,1,1,0,0,4,1,1,0,3
2,iguana,0,0,1,0,0,0,1,1,1,1,0,0,4,1,1,1,3
3,lizard,0,0,1,0,0,0,1,1,1,1,0,0,4,1,0,0,3
4,gecko,0,0,1,0,0,0,0,1,1,1,0,0,4,1,1,0,3
5,python,0,0,1,0,0,0,1,1,1,1,1,0,0,1,0,1,3
6,boa,0,0,1,0,0,0,1,1,1,1,0,0,0,1,0,1,3
7,adder,0,0,1,0,0,0,1,1,1,1,1,0,0,1,0,1,3
8,crocodile,0,0,1,0,0,1,1,1,1,1,0,0,4,1,0,1,3
9,alligator,0,0,1,0,0,1,1,1,1,1,0,0,4,1,0,1,3
10,gharial,0,0,1,0,0,1,1,1,1,1,0,0,4,1,0,1,3
11,skink,0,0,1,0,0,0,0,1,1,1,0,0,4,1,0,0,3
12,anchovy,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,0,4
13,flounder,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,1,4
14,halibut,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,1,4
15,mackerel,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,1,4
16,barracuda,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,1,4
17,marlin,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,1,4
18,trout,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,1,4
19,salamander,0,0,1,0,0,1,0,1,1,1,0,0,4,1,1,0,5
20,siren,0,0,1,0,0,1,0,1,1,1,0,0,2,1,0,0,5
21,tree frog,0,0,1,0,0,1,0,1,1,1,0,0,4,0,0,0,5
22,dart frog,0,0,1,0,0,1,0,1,1,1,0,0,4,0,0,0,5
23,firebelly,0,0,1,0,0,1,0,1,1,1,0,0,4,0,0,0,5
24,wart toad,0,0,1,0,0,1,0,1,1,1,0,0,4,0,0,0,5
25,mosquito,0,0,1,0,1,0,0,0,0,1,0,0,6,0,0,0,6
26,hornet,0,0,1,0,1,0,1,0,0,1,1,0,6,0,0,0,6
27,cricket,0,0,1,0,0,0,0,0,0,1,0,0,6,0,0,0,6
28,beetle,0,0,1,0,0,0,0,0,0,1,0,0,6,0,0,0,6
29,butterfly,1,0,1,0,1,0,0,0,0,1,0,0,6,0,0,0,6
30,palmetto,0,0,1,0,1,0,1,0,0,1,0,0,6,0,0,0,6
31,cockroach,0,0,1,0,0,0,0,0,0,1,0,0,6,0,0,0,6
32,mantis,0,0,1,0,0,0,1,0,0,1,0,0,6,0,0,0,6
33,dragonfly,0,0,1,0,1,0,0,0,0,1,0,0,6,0,0,0,6
34,aphid,0,0,1,0,0,0,0,0,0,1,0,0,6,0,0,0,6
35,cicada,0,0,1,0,1,0,0,0,0,1,0,0,6,0,0,0,6
36,antlion,0,0,1,0,1,0,0,0,0,1,0,0,6,0,0,0,6
37,scallop,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,7
38,spider,0,0,1,0,0,0,1,1,0,1,1,0,8,0,0,0,7
39,snail,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
40,silkworm,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
41,jellyfish,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,1,7
42,squid,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,7

In [40]:
df_test.drop("animal_name",axis=1,inplace=True)

In [41]:
df_test

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,0,0,1,0,0,1,0,0,1,1,0,0,4,1,1,1,3
1,0,0,1,0,0,0,0,1,1,1,0,0,4,1,1,0,3
2,0,0,1,0,0,0,1,1,1,1,0,0,4,1,1,1,3
3,0,0,1,0,0,0,1,1,1,1,0,0,4,1,0,0,3
4,0,0,1,0,0,0,0,1,1,1,0,0,4,1,1,0,3
5,0,0,1,0,0,0,1,1,1,1,1,0,0,1,0,1,3
6,0,0,1,0,0,0,1,1,1,1,0,0,0,1,0,1,3
7,0,0,1,0,0,0,1,1,1,1,1,0,0,1,0,1,3
8,0,0,1,0,0,1,1,1,1,1,0,0,4,1,0,1,3
9,0,0,1,0,0,1,1,1,1,1,0,0,4,1,0,1,3
10,0,0,1,0,0,1,1,1,1,1,0,0,4,1,0,1,3
11,0,0,1,0,0,0,0,1,1,1,0,0,4,1,0,0,3
12,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,0,4
13,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,1,4
14,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,1,4
15,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,1,4
16,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,1,4
17,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,1,4
18,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,1,4
19,0,0,1,0,0,1,0,1,1,1,0,0,4,1,1,0,5
20,0,0,1,0,0,1,0,1,1,1,0,0,2,1,0,0,5
21,0,0,1,0,0,1,0,1,1,1,0,0,4,0,0,0,5
22,0,0,1,0,0,1,0,1,1,1,0,0,4,0,0,0,5
23,0,0,1,0,0,1,0,1,1,1,0,0,4,0,0,0,5
24,0,0,1,0,0,1,0,1,1,1,0,0,4,0,0,0,5
25,0,0,1,0,1,0,0,0,0,1,0,0,6,0,0,0,6
26,0,0,1,0,1,0,1,0,0,1,1,0,6,0,0,0,6
27,0,0,1,0,0,0,0,0,0,1,0,0,6,0,0,0,6
28,0,0,1,0,0,0,0,0,0,1,0,0,6,0,0,0,6
29,1,0,1,0,1,0,0,0,0,1,0,0,6,0,0,0,6
30,0,0,1,0,1,0,1,0,0,1,0,0,6,0,0,0,6
31,0,0,1,0,0,0,0,0,0,1,0,0,6,0,0,0,6
32,0,0,1,0,0,0,1,0,0,1,0,0,6,0,0,0,6
33,0,0,1,0,1,0,0,0,0,1,0,0,6,0,0,0,6
34,0,0,1,0,0,0,0,0,0,1,0,0,6,0,0,0,6
35,0,0,1,0,1,0,0,0,0,1,0,0,6,0,0,0,6
36,0,0,1,0,1,0,0,0,0,1,0,0,6,0,0,0,6
37,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,7
38,0,0,1,0,0,0,1,1,0,1,1,0,8,0,0,0,7
39,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
40,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
41,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,1,7
42,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,7

In [42]:
X_test = df_train["class_type"]
df_train.drop("class_type",axis=1,inplace=True)
X_train = df_train
X_test = (X_test == 4)

In [44]:
from sklearn.linear_model import SGDClassifier
sgd_clf = SGDClassifier(random_state=42)
sgd_clf.fit(X_train,X_test)

SGDClassifier(random_state=42)

In [45]:
Y_test = df_test["class_type"]
df_test.drop("class_type",axis=1,inplace=True)
Y_train = df_test
Y_test = (Y_test == 4)

In [47]:
predict = sgd_clf.predict(Y_train)

In [48]:
from sklearn.metrics import confusion_matrix
confusion_matrix(Y_test,predict)

array([[33,  3],
       [ 0,  7]], dtype=int64)